div {
    border: solid 1px black;
    margin: 30px;
    height: 100px;
    width: 100px;
    display: inline-block;
    transition: 0.7s
}

div:hover {
    opacity: 0.5;
    transition: 0.7s;
}

#div1 {
    background-color: red;
}

#div2 {
    background-color: green;
}

#div3 {
    background-color: blue;
}

