* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    min-height: 60vh;
}

main > article {
    flex-grow: 1;
}

main > nav, main > aside {
    flex: 0 0 20vh;
    background: antiquewhite;
}

header, footer {
    height: 20vh;
    background: #444;
}

header, nav, article, aside, footer {
    padding: 20px;
}