* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 50%;
    height: 600px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly ;

}

div {
    background: antiquewhite;
    width: 10%;
}

#div1 {
    height: 30%;
}

#div2 {
    height: 10%;
}

#div3 {
    height: 40%;
}

#div4 {
    height: 70%;
}

#div5 {
    height: 60%;
}