.caixa-flex {
    display: flex;
    align-items: center;
    width: 80vw;
    height: 100%;
    margin: 0 auto;
    border: dashed 5px black;
}

#div1,
#div2,
#div3,
#div4,
#div5 {
    width: 20vw;
    height: 20vh;
    background: linear-gradient(red, green, blue);
    margin: 10px;
    flex: 1;
}